*, *:before, *:after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* layout =================== */

.site__title, nav, section, .footer__content {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
header {
    background: #f5f2f0;
    border-bottom: 1px solid #f5f2f0;
    padding: 100px 0 50px 0;
    margin-bottom: 20px;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}
.wrapper:after {
    content: "";
    display: block;
}
.site__footer, .wrapper:after {
    height: 100px;
}
.main__article {
    width: 66.666666666%;
    padding-left: 20px;
    float: left;
}
.main__article, .full{
    width: 100%;
}

aside {
    width: 33.333333333%;
    padding-left: 20px;
    float: right;
}
.site__footer {
    background: #428bca;
    border-top: 1px solid #5bc0de;
}
.footer__content {
    font-weight: 600;
    padding: 20px;
    color:  #f5f2f0;
    letter-spacing: .15em;
}
.footer__content p a {
    text-decoration: none;
    color:  #f5f2f0;
    transition:.5s;
}
.footer__content p a:hover {
    text-decoration: underline;
    color: #0b0d0e;
}

/* typography =============== */

.site__title {
    color: #848484;
    font-size: 3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding-left: 20px
}
.main__title {
    color: #7e8e97;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}
.main__article {
    font-size: 1rem;
    line-height: 24px;
    font-family: georgia, serif;
}
.main__result {
    font-size: 1.5rem;
    color: #bb0f00;
}
.main__result p:before {
    content: ">> ";
}
.main__result p {
    word-wrap: break-word;
}

/* content =================== */

/* ================== contacts */


aside {

}

aside h2 {
    color: #7e8e97;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/* form ====================== */

#result {
    display: none;
}
.main__form {
    padding: 40px;
    border: 1px solid #d6cac2;
    border-radius: 4px;
    margin-bottom: 2em;
}

.form__group {
}

.form__label {
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .05em;
}
.form__input {
    margin: .5em 0;
    padding: 15px;
    width: 90%;
    border-radius: 4px;
    font-size: 1.2em;
    border: 1px solid #d6cac2;
}
.radio__group {
    padding: .5em 0 1em 0;
    margin-left: 1em;
}
.form__radio {
    margin: 1em 0 0 2em;
}
.form__select {
    margin: .5em 0 1em 0;
    padding: 15px;
    width: 90%;
    height: 60px;
    border-radius: 4px;
    font-size: 1.2em;
    border: 1px solid #d6cac2;
}
.form__btn {
    background: #f5f2f0;
    border-radius: 4px;
    border: 1px solid #d6cac2;
    color: #b7a294;
    padding: 20px;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ============================= Login */

.login {

}

.login__item {
    margin: 0 1em 1.5em 0;
	width: 300px;
	border: 1px solid #aab6c3;
	border-radius: 1px;
	background-color: #5bc0de;
	box-shadow: 0 3px 6px rgba(0,0,0,.16),
		0 3px 6px rgba(0,0,0,.23);

}
.login__well {
    background-color: #fff;
	padding: 15px 20px;
}
.login__title {
    font-size: 36px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1;
}
.login__image {
    border-radius: 50%;
	border: 1px solid #aab6c3;
	display: block;
	margin: 50px auto 70px;
	width: 225px;
}
.login__link {
    background: #428bca;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),
        0 3px 6px rgba(0,0,0,.23);
    color:#fff;
    float: right;
    font-size: 20px;
    font-weight: 500;
    height: 75px;
    line-height: 1;
    margin-right: 25px;
    margin-top: -40px;
    padding: 28px 15px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    transition:.5s;
    text-decoration: none;
}
.login__link:hover {
    background: #47ca42;
    border-radius: 50%;
    box-shadow: 0 0 0;
    color:#f5f2f0;
    text-decoration: underline;

}

/* ========================= students */

.students {
    padding: 0;
    margin: 0 0 2em 0;
}
.students li {
    list-style: none;
    border-bottom: 1px solid #aab6c3;
}
.students li:last-child {
    border-bottom: 0;
}
.student__img {
    width: 25%;
    margin: 0 5% 1.5em 0;
    float: left;
    border-radius: 4px;
}
.student__name {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.signIn__btn {
    color: #2f9d2f;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    background: #f5f2f0;
    border-radius: 4px;
    border: 1px solid #2f9d2f;
    padding: 10px 18px;

}
.signIn__btn:hover {

}
.signOut__btn {
    color: #f5f2f0;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    background: #2f9d2f;
    border-radius: 4px;
    border: 1px solid #2f9d2f;
    padding: 10px 10px;
}
.signOut__btn:hover {

}

/* ================== picture gallery */

.gallery {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.gallery__picture {
    list-style: none;
}
.gallery__picture img {
    width: 45%;
    margin: 0 5% 1em 0;
    float: left;
}

/* clear fix ================ */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
