<article class="main__article full">

            <h2 class="main__title">Choose Your Login</h2>

            <div class="login">

                <div class="login__item pull-left">
                    <img class="login__image" src="image/students.jpg" alt="image of students" />
                    <a class="login__link" ui-sref="student"> login </a>
                    <div class="login__well">
                        <h3 class="login__title">Student</h3>
                    </div>
                </div>

                <div class="login__item pull-left">
                    <img class="login__image" src="image/teachers.jpg" alt="image of teacher" />
                    <a class="login__link" ui-sref="teacher"> login </a>
                    <div class="login__well">
                        <h3 class="login__title">Teacher</h3>
                    </div>
                </div>

            </div>

</article>
