<article class="main__article full">

    <div class="breadCrumb">
        <a class="bc__item" ui-sref="home"> home </a> &nbsp;&nbsp;>>&nbsp;&nbsp; <a class="bc__item" ui-sref="teacher"> attendance </a>
    </div>

    <h2 class="main__title">Class list</h2>

    <ul class="students" ng-controller="AttendanceCtrl">
        <li ng-repeat="item in filtered = (students | orderBy:'lastName')" class="group">
            <img class="student__img" ng-src="{{item.image}}">
            <h3 class="student__name" >{{item.name}}</h3>

            <a ng-hide="item.isHere" ng-click="signInStudent(item)" class="signIn__btn">Sign In</a>
            <a ng-hide="!item.isHere" ng-click="signOutStudent(item)" class="signOut__btn">Sign Out</a>

        </li>
    </ul>

</article>
