<article class="main__article full">



    <div>
            <h2 class="main__title">Who is here</h2>
            <ul class="students">
                    <li ng-repeat="item in filtered = (students | filter:{isHere: true})" class="group">
                        <img class="student__img--sm" ng-src="{{item.image}}">
                        <h3 class="student__name" >{{item.name}}</h3>
                    </li>
            </ul>
    </div>
    <div>
            <h2 class="main__title">Who is not</h2>
            <ul class="students">
                    <li ng-repeat="item in filtered = (students | filter:{isHere: false})" class="group">
                        <img class="student__img--sm" ng-src="{{item.image}}">
                        <h3 class="student__name" >{{item.name}}</h3>
                    </li>
            </ul>
    </div>
</article>
